/01-Introduccion/HolaMundo/nbproject/private/
/01-Introduccion/HolaMundo/build/
/01-Introduccion/Introduccion/nbproject/private/
/01-Introduccion/Introduccion/build/
/02-Operadores/Operadores/nbproject/private/
/02-Operadores/Operadores/build/
/02-Operadores/ClaseMath/nbproject/private/
/02-Operadores/ClaseMath/build/
/02-Operadores/Ejercicio1/nbproject/private/
/02-Operadores/Ejercicio1/build/
/02-Operadores/Ejercicio2/nbproject/private/
/02-Operadores/Ejercicio2/build/
/02-Operadores/Ejercicio3/nbproject/private/
/02-Operadores/Ejercicio3/build/
/02-Operadores/Ejercicio4/nbproject/private/
/02-Operadores/Ejercicio4/build/
/02-Operadores/Ejercicio5/nbproject/private/
/02-Operadores/Ejercicio5/build/
/02-Operadores/Ejercicio6/nbproject/private/
/02-Operadores/Ejercicio6/build/
/02-Operadores/Ejercicio7/nbproject/private/
/02-Operadores/Ejercicio7/build/
/02-Operadores/Ejercicio8/nbproject/private/
/02-Operadores/Ejercicio8/build/
/03-Condicionales/Condicionales/nbproject/private/
/03-Condicionales/Condicionales/build/
/03-Condicionales/SwitchyTernario/nbproject/private/
/03-Condicionales/SwitchyTernario/build/
/03-Condicionales/Ejercicio1/nbproject/private/
/03-Condicionales/Ejercicio1/build/
/03-Condicionales/Ejercicio2/nbproject/private/
/03-Condicionales/Ejercicio2/build/
/03-Condicionales/Ejercicio3/nbproject/private/
/03-Condicionales/Ejercicio3/build/
/03-Condicionales/Ejercicio4/nbproject/private/
/03-Condicionales/Ejercicio4/build/
/03-Condicionales/Ejercicio5/nbproject/private/
/03-Condicionales/Ejercicio5/build/
/03-Condicionales/Ejercicio8/nbproject/private/
/03-Condicionales/Ejercicio8/build/
/03-Condicionales/Ejercicio12/nbproject/private/
/03-Condicionales/Ejercicio12/build/
